html, body, section, .container{
  height: 100%;
  width: 100%;
}
body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  margin: 0px;
  top: 0px;
  left: 0px;
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 700px;
}
.image-box{
  background-color: transparent;
  min-width: 1000px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
}
.arrow-left,
.arrow-right {
  position:relative;
  padding: 5px;
  margin: 30px;
  background: #000;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
}
.arrow-left{
  left: 30px;
}
.arrow-right{
  right: 30px;
}
.arrow-right::after,
.arrow-left::after {
  content: "";
  position: absolute;
  z-index: 11;
  display: block;
  width: 20px;
  top: 15px;
  height: 20px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.arrow-right::after {
  right: 18px;
  transform: rotate(135deg);
}
.arrow-left::after {
  left: 18px;
  transform: rotate(315deg);
}
ul{
  display: flex;
  justify-content: center;
}
li {
  width: 30px;
  float: left;
}
li::marker {
  color: darkgray;
  font-size: 2rem;
}
.active::marker{
  color: darkblue;
}